:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.reel {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh; 
  z-index: 100; 
}

.nav-name{
  font-weight: 700;
  font-size: 32px;
}

.nav-buttons {
  position: absolute;
  left: 10px;
  display: flex; 
  align-items: center; 
  gap: 10px; 
  z-index: 1000;
}

.nav-button {
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-button:hover {
  transform: scale(1.1);
  background: linear-gradient(45deg, #FFC31A, #E2A317);
}

.nav-button:active {
  transform: scale(0.9);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

